<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page: Welcome <%= user.local.name %><%= user.google.name %></h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/insert" class="btn btn-default btn-sm">Insert Item</a>
		<a href="/search" class="btn btn-default btn-sm">Search Item</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong> Your USER ID</strong>: <%= user._id %><br>
						<strong>Email</strong>: <%= user.local.email %><br>


					</p>
			</div>
		</div>
	</div>

    <div>
        <strong>Items Shared by You </strong>: <br>
        <% for ( var i=0; i < user.itemList.length; i++ ) { %>
            <li>
                <strong>
                    <%= user.itemList[i].name %> : <%= user.itemList[i].category %> : <%= user.itemList[i].description %> <br>
                </strong>
            </li>
            <% } %>
    </div>
</div>
</body>
</html>
