<!-- views/profile.ejs -->
<%= var Item = UserSchema_complete.Item; %>
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page: Welcome <%= user.local.name %><%= user.google.name %></h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/insert" class="btn btn-default btn-sm">Insert Item</a>
		<a href="/search" class="btn btn-default btn-sm">Search Item</a>
		<a href="/update" class="btn btn-default btn-sm">Update Profile</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong> Your USER ID</strong>: <%= user._id %><br>
						<strong>Email</strong>: <%= user.local.email %><br>
									
                        <strong>Name</strong>: <%= user.local.name %><br>
						<% if(user.notification != null) {%>
							<strong><%= user.notification %></strong></br>
						<% }%>
                        <div>
                            <strong>Items Shared by You </strong> 
                            <% for ( var i = 0; i < user.itemList.length; i++ ) { %>
								<% if (user.itemList[i].item_status != 0) {%>
									<li>
										<strong>
											<%= user.itemList[i].name %>
										</strong>
												<form action="/delete" method="POST">
														<div class="form-group">
															<input type="hidden" name='request_button_ownerid' value='<%= user._id %>'>
															<input type="hidden" name='request_button_itemid' value='<%= user.itemList[i]._id %>'>
															<button type="submit" class="btn btn-default btn-sm"> Delete Item </button>
														</div>
													</form>
										<% if (user.itemList[i].item_status == 1) { %>
													<form action="/accept" method="POST">
														<div class="form-group">
                                                            <span> Requested by <%= user.itemList[i].requester_name%></span>
															<input type="hidden" class="form-control" name="itemID" value="<%= user.itemList[i]._id%>">
															<input type="hidden" name='User_Requested' value='<%= user.itemList[i].request_notification %>'>
															<button type="submit" class="btn btn-default btn-sm"> Accept Request </button>
														</div>
													</form> 
													<form action="/reject" method="POST">
														<div class="form-group">
															<input type="hidden" name="request_button_itemid" value="<%= user.itemList[i]._id%>">
															<input type="hidden" name='request_button_ownerid' value='<%= user._id %>'>
															<input type="hidden" name='User_Requested' value='<%= user.itemList[i].request_notification %>'>
															<button type="submit" class="btn btn-default btn-sm"> Reject Request </button>
														</div>
													</form>
												<% } %>
									</li>
								<% } %>
                            <% } %>
                        </div>
                    </p>

					</p>

			</div>
		</div>
	</div>

</div>
</body>
</html>
