<!-- views/searchFound.ejs -->
<!doctype html>
<html>
<head>
	<title>ShareIITK-searchFound</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
    

</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> The following items matched your search!</h1>
	</div>

	<div class="row">

    
    <div>
        <% for ( var i=0; i < userList.length; i++ ) { %>
            <li>
                <strong>
                    <font color="red"><%= userList[i].local.name %> <%= userList[i].google.name %></font> <%= userList[i].local.email %> <%= userList[i].google.email %> has item <font color="red"><%= itemList[i].name %> </font> 
                    
                    <form action='/request' method='post'>  
                    <div class="form-group">
                    <input type="hidden" name='reqbtn' value='<%= userList[i].id %>'><button class="btn btn-default" type="submit">  Request  </button>
                    </div>
                    </form>

                </strong>
            </li>
            <% } %>
    </div>
</div>
</body>
</html>
                  <a href="/request" class="btn btn-default" name = i ><span class="fa fa-anchor">   </span> Request </a><br>
